
body {
  font-family: 'open_sanslight', sans-serif;
}

a {
  font-family: 'open_sanslight', sans-serif;
  text-decoration: none;
}

h1, h2,h3,h4,h5,h6 {
  font-family: 'open_sansbold', sans-serif;
}

a {
  color: #3d3d3d;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.row {
  width: 1080px;
}

header {
  padding: 1em 0;
}

header h1 {
  font-family: 'open_sanslight', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  margin: 3px 0 0 0;
  text-align: center;
}

header h2 {
  font-family: 'open_sanslight', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 10px;
  font-weight: lighter;
}

/*.logo {
  margin: 0 auto;
  width: 69px;
  height: 62px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
}*/



.banner {
  text-align: center;
  margin-top: -10px;
}

.banner h1 {
  font-family: 'open_sanslight', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: #f8f8f8;
  padding: 4em 9em 0 9em;
  margin: -5px 0 0 0;
}

.banner h2 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 1.5em;
  color: #f8f8f8;
  text-align: center;
  padding: 1.5em 8em 0 8em;
  margin-bottom: 2em;
}

.btn {
  padding: 10px 30px;
  text-decoration: none;
}

.btn-default {
  margin-top: 0.5em;
  text-transform: uppercase;
  color: #f8f8f8;
  background-color: #384e6c;
  border: 1px solid #384e6c;
  font-size: 1.14em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

/*.screens {
  float: right;
  margin-top: 2em;
  width: 457px;
  height: 311px;
  background-image: url(images/screens.png);
  background-repeat: no-repeat;
}*/

.offer-web-services,
.offer-javascript-services {
  position: relative;
  z-index: 0;
  margin-top: -5em;
  padding-top: 8em;
  padding-bottom: 4em;
  background-color: #F8F8F8;
}

.offer-javascript-services {
  z-index: -1;
  background-color: #fff;
}

.offer-web-services ul,
.offer-javascript-services ul {
  list-style-type: none;
  padding-left: 0;
}

.offer-web-services li,
.offer-javascript-services li {
  margin: 5px 0;
}






/*
*** MAIN PAGE SLIDER
*/

#full-width-slider {
  margin-bottom: 50px;
  overflow: hidden;
  background: #f8f8f8;
  padding: 1em 0 3em 0;
}

#full-width-slider h2 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-top: 1.5em;
}

#full-width-slider img {
  pointer-events: none;
}

.slick-prev,
.slideshow-prev {
  left: 0 !important;
  z-index: 10;
}

.slick-next,
.slideshow-next {
  right: 0 !important;
  z-index: 10;
}

.slideshow-next,
.slideshow-prev {
  background: rgba(255,255,255,0.5);
  padding: 0.25em;
  border-radius: 0;
}








/*.browser {
  float: left;
  margin-top: 2em;
  width: 336px;
  height: 221px;
  background-image: url(images/browser.png);
  background-repeat: no-repeat;
}*/

/*.part-of-your-project {
  height: 300px;
  background-image: url(images/muzu_pomoci.png);
  background-repeat: no-repeat;
}*/

.part-of-your-project h2 {
  margin: 1.5em 0 0 0;
}

.part-of-your-project .icon {
  margin-right: 0.5em;
  font-size: 2em;
  vertical-align: middle;
}

.part-of-your-project h3 {
  margin-top: 0.75em;
  font-weight: 300;
  font-size: 18px;
}

.part-of-your-project a {
  text-decoration: underline;
}







footer {
  padding: 1em 0;
  color: #f8f8f8;
  background-color: #384e6c;
}

footer .nav a {
  font-weight: 300;
  color: #f8f8f8;
}

footer .icon {
  font-size: 2em;
  margin-right: 1em;
}

footer a {
  color: #f8f8f8;
}

footer a:hover {
  color: #ccc;
}

footer .social {
  padding-left: 3em;
}



/*
*** FIXED HEADER
*/

.customize-support header.fixed {
    top: 32px;
}






/* GALLERY */

#portfolio h1 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
}

#portfolio img {
  pointer-events: none;
}

.image-grid {
	margin-top: 3em;
	margin-bottom: 3em;
}

.image-grid img {
  border: 1px solid #eee;
	border-radius: .25em;
  position: relative;
  padding: 10px;
}

/*.image-grid img:hover {
  border: 1px solid #384e6c;
}*/

.image-grid .gallery-img {
  float: left;
  width: 32.3%;
	margin: 0.5%;
}

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }











/*
*** KONTAKT
*/



/* CONTACT FORM */

#kontakt {
  line-height: 2;
}

#kontakt h2 {
  margin: 1em 0;
}

#kontakt .map {
  height: 350px;
  margin-top: 3em;
  padding: 2em;
}











/*
*** THANK YOU PAGE
*/
.thank-you-page h3 {
  margin: 100px auto;
  text-align: center;
}












/*
*** HELPER CLASSES
*/
.position-relative {
  position: relative;
}

.z-1 {
  z-index: 1
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-top-0_75 {
  margin-top: 0.75em;
}




@media (min-width: 1200px){

.container {
    width: 1080px;
}

.container.fixed .row {
    width: 1080px;
    margin: 0 auto;
}

.container.fixed {
    width: 100%;
}

}

@media (max-width: 1024px) {
  .banner h1 {
    padding: 2em 9em 0 9em;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .banner h1 {
    padding: 2em 2em 0 2em;
  }
}

@media (max-width: 767px){

  .name-wrap {
    float: right;
    position: absolute;
    left: 25%;
    top: 7%;
  }

  .logo-wrap {
    float: left;
  }

  .logo-wrap img {
    width: 60%;
  }

  .menu-trigger {
    float: right;
  }

  h2 {
    font-size: 1.15em;
  }

  .banner {
    margin-top: -35px;
  }

  .banner h1 {
    padding: 50px 10px 0 10px;
    font-size: 1.15em;
  }

  .banner h2 {
    padding: 50px 0 0 0;
    font-size: 1em;
  }

  .banner button {
    margin: 0;
    font-size: 0.75em;
  }

  .browser {
    float: none;
    margin: 0 auto 40px auto;
  }

  .offer-javascript-services .text-right {
    text-align: left;
  }

  .screens {
    margin-top: 3em;
    margin-bottom: -2em;
    background-size: 50%;
    background-position: 80% 100%;
  }

  .browser {
    width: 100%;
    background-size: 50%;
    background-position: 50% 50%;
  }

  .customize-support header.fixed {
      top: 0;
  }

  .image-grid .gallery-img {
    float: left;
    width: 99%;
    margin: 0.5%;
  }

  #kontakt .map {
    padding: 2em 0 4em 0;
    height: 390px;
  }

}
