
header {
  padding: 10px 0 0 0;
}

/*
*** FIXED HEADER
*/

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  border-bottom: 1px solid #bbb;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}

body {
  padding-top: 100px;
}





#menu-main-menu {
  margin-top: 1.75em;
}

.scrolled-down #menu-main-menu {
  margin-top: 1.3em;
}

#menu-main-menu li a {
  font-family: 'open_sanslight', sans-serif;
  color: #3d3d3d;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 1em;
  margin: -4px 0 0 0;
}

#menu-main-menu li {
  display: inline-block;
}

#menu-main-menu li.current_page_item a,
.current_page_item a {
  color: #3d3d3d;
  font-family: 'open_sansbold', sans-serif;
}

.mobile-nav-content-header {
  list-style-type: none;
}

.primary-menu-list {
  display: flex;
  justify-content: space-evenly;
}






/*
  MOBILE
*/

#slide-menu {
  background: #fff;
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 280px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  -webkit-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.25);
}

#slide-menu.open {
  right: 0;
}

body {
  position: relative;
}

.menu-is-open:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 1;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#slide-menu > ul li {
  color: #3d3d3d;
  padding: 6px 0;
  cursor: pointer;
}

#slide-menu > ul li:hover {
  color: #3d3d3d;
}

#slide-menu > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #3d3d3d;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

#slide-menu a {
  color: #3d3d3d;
}

body.menu-active:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 9;
}

body.menu-active #slide-menu {
  /*left: 0px;*/
  right: 0px;
}

body.menu-active #slide-menu ul {
  left: 0px;
  opacity: 1;
}

.menu-trigger {
  position: absolute;
  top: 15%;
  right: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 0.35em;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu-trigger:before {
  content: "\f394";
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #3d3d3d;
  font-family: "Ionicons";
  font-style: normal;
  font-size: 30px;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 42px;
}

.menu-trigger:hover:before {
  color: #3d3d3d;
}

.menu-active .menu-trigger:before {
  content: "\f2d7";
}













@media screen and (max-width: 767px) {

  #menu-main-menu {
    display: none;
  }

  .menu-trigger {
    display: block;
  }
}
